<div class="row">
  <div class="col-xs-12">
    <div class="loading" ng-show="!posts">
      Cargando ...
    </div>
    <div class="lists" ng-show="posts">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in posts">
            <td>{{ item.id }}</td>
            <td><a ui-sref="post_detail({ id: item.id })">{{ item.title }}</a></td>
            <td>
              <button type="button" ng-click="delete($index)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>