<div class="row">
  <div class="col-xs-12">
    <div class="loading" ng-show="!users">
      Cargando ...
    </div>
    <div class="lists" ng-show="users">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in users">
            <td>{{ item.id }}</td>
            <td><a ui-sref="user_profile({ id: item.id })">{{ item.name }}</a></td>
            <td>{{ item.username }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>